* {
  margin: 0;
  padding: 0;
}
#app {
  margin: 200px auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: relative;
}

#player {
  width: 50px;
  height: 50px;
  background-color: green;
  position: absolute;
  top: 250px;
  left: 250px;
  background: url(./sprites/player.jpg) center center no-repeat;
  background-size: cover;
}
.bullet {
  width: 5px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 20px;
  left: 30px;
}
